:root {
--white: #FFFFFF;
--blue: #81B3D3;
--brown: #766357;
--light-gray: #EEEEEE;
--black: #000000;
--extra-dark: #242424;
--extra-light: #f8f5f2;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  weight: 700;
  color: var(---black);
  text-transform: uppercase;
  background-color: var(--white);
  background-position: top-center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin-bottom: 10px;
  outline: 5px solid var(--blue);
  outline-offset: -5px;
}

/* Logo */

.main-header-logo {
  left: 50%;
  transform:translateX(-50%);
  position: absolute;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(---black);
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: var(--white);
}

/* User navigation */

.site-navigation {
  display: flex;
  align-items: center;
  list-style: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  color: var(--black);
  display: flex;
}



.site-navigation a:hover, .site-navigation a:focus {
background-color: var(--extra-light);
}

.sedona {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* description */

.description {
  background-color: var(--white);
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.description-item-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.description-item-one-content {
  width: 400px;
  height: 256px;
  margin-left: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

.description-item-text-one {
outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.description-item-photo-one {
  margin-right: 190px;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

/* index-columns-one */

.index-columns-one {
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.description-item-two {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.description-item-two-content {
  width: 400px;
  height: 256px;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

.description-item-text-two {
outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.description-item-photo-two {
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

/* index-columns-two */

.index-columns-two {
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}


/* city */

.city {

}

.city-photo {
  position: absolute;
  width: 800px;
  height: 256px;
}

/* feature */

.feature {
  margin-bottom: 80px;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.feature-item {
  text-align: center;

}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* feature */

.feature-list {
  font-size: 21px;
  line-height: 21px;
}

.feature-item  {
  font-size: 14px;
  line-height: 21px;
}

/* canyon */

.canyon {
  font-size: 14px;
  line-height: 21px;
}

.canyon h2 {
  font-size: 21px;
  line-height: 21px;
}

/* advantages */

.advantages {
  margin-bottom: 80px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--light-gray);
}

.appointment-item input:focus {
  border-color: var(--special);
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--blue);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--blue);
}

/* Footer */
.white-background {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-contacts {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.social-network {
  fill: var(--blue);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--black);
  background-color: var(--light-blue);
}

.footer-social {
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}



.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-copyright {
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

/* Search */
.search-navigation {
  list-style: none;
  text-decoration: underline;
}

.search-navigation {
  color: var(--black);
}

.search-navigation a:hover, .site-navigation a:focus {
background-color: var(--extra-light);

}

.site-navigation {
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
}


/* gift */

.gift path {
  fill: var(--blue);
}

/* menu */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* hotels */

.infrastructure {
  font-size: 16px;
  line-height: 21px;
}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
}

.hotels {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.hotels-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hotels-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hotels-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* hotels - navigation */

.search-navigation-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-navigation {
  display: flex;
  justify-content: flex-start;
}

.search-navigation-link {
  display: flex;
  justify-content: space-around;

}






/* button-blue */

.button-blue {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
}

.button-blue:hover,
.button-blue:focus,
.button-blue:active {
  background-color: var(--blue);
}

.button-blue.disabled,
.button-blue:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--blue);
}

/* button-brown */

.button-brown {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
}

.button-brown:hover,
.button-brown:focus,
.button-brown:active {
  background-color: var(--brown);
}

.button-brown.disabled,
.button-brown:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--brown);
}
