:root {
--white: #FFFFFF;
--blue: #81B3D3;
--brown: #766357;
--light-gray: #EEEEEE;
--black: #000000;
--extra-dark: #242424;
--extra-light: #f8f5f2;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  weight: 700;
  color: var(---black);
  text-transform: uppercase;
  background-color: var(--white);
  background-position: top-center;
  background-repeat: no-repeat;
}

.whrapper {
  width: 1200px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.sedona {
  position: relative;
  background-image: url("../img/background.jpg");
  width: 1200px;
  padding-top: 80px;
  padding-bottom: 77px;
}

.sedona:before {
  content:"";
  bottom: -1px;
  position: absolute;
  width: 1200px;
  height: 57px;
  background-image: url("../img/shape.svg");
  background-repeat: no-repeat;
}


.sedona-hotel {
  background-image: url("../img/background2.jpg");
  width: 1200px;
  height: 217px;
}


/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin-bottom: 10px;

}

/* Logo */

.main-header-logo {
  left: 50%;
  transform:translateX(-50%);
  position: absolute;

}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(---black);
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: var(--white);
}

/* User navigation */

.site-navigation {
  display: flex;
  align-items: center;
  list-style: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  color: var(--black);
  display: flex;
}

.site-navigation-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}



.site-navigation a:hover, .site-navigation a:focus {
background-color: var(--extra-light);
}

.sedona {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* description */

.description {
  background-color: var(--white);
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.description h2 {
  margin: 42.5px;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.description-title {
}

.description p {
  margin-bottom: 51px;
}

.description-item-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.description-item-one-content {
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

.description-item-text-one {

}

.description-item-photo-one {

}

/* index-columns-one */

.index-columns-one {
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;

}

.description-item-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.description-item-two-content {
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

.description-item-text-two {

}

.description-item-photo-two {

}

/* index-columns-two */

.index-columns-two {
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;

}


/* city */

.city {

}

.city-photo {
  position: absolute;
  width: 800px;
  height: 256px;
}

/* feature */

.feature {
  margin-bottom: 80px;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}
.feature-item {
  text-align: center;

}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* feature */

.feature-list {
  font-size: 21px;
  line-height: 21px;
}

.feature-item  {
  font-size: 14px;
  line-height: 21px;
}

/* canyon */

.canyon {
  font-size: 14px;
  line-height: 21px;
}

.canyon h2 {
  font-size: 21px;
  line-height: 21px;
}

/* advantages */

.advantages {


}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 47px;
  padding: 0;
  list-style: none;
}

.advantages-item {
  text-align: center;

}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--light-gray);
}

.appointment-item input:focus {
  border-color: var(--special);
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--blue);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--blue);
}

/* Interest */

.interest {
  text-align: center;
}


/* Footer */
.white-background {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-contacts {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--black);
  background-color: var(--light-blue);
}

.footer-social {
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  list-style: none;
}



.footer-social {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin: 0px 10px;
  background-color: var(--blue);
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-copyright {
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

/* Search */
.search-navigation {
  list-style: none;
  text-decoration: underline;
}

.search-navigation {
  color: var(--black);
}

.search-navigation a:hover, .site-navigation a:focus {
background-color: var(--extra-light);

}

.site-navigation {
  list-style: none;
}


/* gift */

.gift path {
  fill: var(--blue);
}

/* menu */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* hotels */

.infrastructure {
  font-size: 16px;
  line-height: 21px;
}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
}

.hotels {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.hotels-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hotels-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hotels-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* hotels - navigation */

.search-navigation-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-navigation {
  display: flex;
  justify-content: flex-start;
}

.search-navigation-link {
  display: flex;
  justify-content: space-around;

}

/* Sedona-hotel */

.sedona-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* filters */

.filter {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 21px;
  font-weight: 316px;
  color: #000000;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 316px;
  margin-top: 10px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: #FFFFFF;
  margin-top: 20px;
  opacity: 30%;
}

.range-controls .bar {
  height: 2px;
  color: var(--white);
}

.range-controls .toggle {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 248px;
}

.price-controls {
  border: solid #fff 2px;
  border-radius: 4px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 14px;
}

input.min-price {
    border-right: solid 2px #fff;
}

input.min-price, input.max-price {
    display: inline-block;
    width: 140px;
    padding: 7px;
    background-color: inherit;
    border: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans";
    text-transform: uppercase;
}



.range-filter input.form-btn {
  width: 140px;
  margin-left: 89px;
  margin-top: 20px;
  padding: 7px;
  border: solid #fff 2px;
  border-radius: 4px;
  color: #fff;
  background-color: inherit;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

/* checkboxes */

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #fff;
}

.checkboxes input[type=checkbox] {
    display: none;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.checkboxes label {
    display: block;
    position: relative;
    padding-left: 44px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
  }

  .checkboxes input[type=checkbox] {
    display: none;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.checkboxes label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: solid #fff 2px;
    border-radius: 4px;
}

.checkboxes input[type=checkbox]:checked + label::before {
    content: "\2714";
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 20px;








/* button-blue */

.button-blue {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
}

.button-blue:hover,
.button-blue:focus,
.button-blue:active {
  background-color: var(--blue);
}

.button-blue.disabled,
.button-blue:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--blue);
}

/* button-brown */

.button-brown {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
}

.button-brown:hover,
.button-brown:focus,
.button-brown:active {
  background-color: var(--brown);
}

.button-brown.disabled,
.button-brown:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--brown);
}

/* search-hotel */

.modal-window input {
    height: 35px;
    padding: 0 15px;
    background-color: #f2f2f2;
    border: solid 2px #f2f2f2;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }


.modal-window input[type="submit"] {
    width: 460px;
    height: 58px;
    background: #8dbad6;
  }
